/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  background-color: #a9c985;
  padding: 10px;
}
h2 {
  font-family: 'Comic Sans MS', cursive;
  color: black;
  font-size: 30px;
 }
.reflective-border {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, green, transparent) 1;
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
  transition: border-image 0.3s;
}

.reflective-border:hover {
  border-image: linear-gradient(to right, transparent, green) 1;
}

b {
  color: brown;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}
header{
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-right: 20px;
}

.review {
  background-color: #c8e6c7;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #fff; /* White border */
}

.review h2 {
  margin-top: 0;
  border-bottom: 2px solid #fff; /* White bottom border for the heading */
  padding-bottom: 10px;
}

.review p {
  border: 2px solid #fff; /* White border for paragraphs */
  padding: 10px;
}
a.order-link {
  margin-left: 310px;
  display: inline-block;
  background-color: #97c777;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.order-link:hover {
  background-color: #7db960;
  text-decoration: none;
}

.review-images {
  display: inline-flexbox;
  
  /* justify-content: space-between; */
}

.review-images img {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  cursor: pointer;

}

.review-text {
  text-align: justify;
  margin-top: 20px;
  font-family: 'Georgia', serif;
}

.review-text p {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  position: relative;
}

.quote-mark {
  font-size: 36px;
  position: absolute;
  top: -15px;
  left: 20px;
  color: #a9c985;
}

.video-section {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(169, 201, 133, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.video-section h3 {
  color: #8ac447;
}

.video-section p {
  margin: 30px 0;
}

.video-section iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border: none;
}
a.back {
  display: inline-flex;
  padding-top: 20px;
  text-decoration: none;
}
.H {
  float: left;
  
}
.M {
  float: right;
 
}

.back button {
  background-color: #6e9872; /* Green button background color */
  color: #fff;
  border: solid #6e9872;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.back button:hover {
  background-color: #4C9945; /* Darker green on hover */
  text-decoration: underline;
}
.footer {
  text-align: center;
  /* height: 100px; */
  display: block;
  padding-bottom: 0.05em;
  padding-top: 0.05em;
  font-family: "Comic Sans Ms";
  font-size: 20px;
  font-weight: bold;
  background-color: #7BE0B5;
}